html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    color: #787878;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    background-color: #1e1e1e;
}

/*  GLOBALES    */

img {
    max-width: 100%;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #1e1e1e;
}

.list h3::before{
    content: "\2022";
    font-weight: 700;
    font-size: 2.2rem;
    display: inline-block;
    margin-right: 1rem;
    color: #eeb66a;
}

/*  UTILITIES   */

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.section {
    top: 8rem;
}

.vh-100 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pb-r{
    padding-bottom: 15rem;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.f-sb {
    font-weight: 600;
}

.f-b {
    font-weight: 700;
}

.f-r{
    font-weight: 400;
}

.color-gold{
    color: #eeb66a;
}

.color-black{
    color: #1e1e1e;
}

.color-red{
    color: #E93A3F;
}

.color-white {
    color: #ffffff;
}

.bg-white {
    background-color: #ffffff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.btn {
    display: inline-block;
    border-radius: 50vh;
    padding: 0.75rem 2rem;
    margin-right: 1rem;
    color: #ffffff;
    margin: 2rem 0;
}

.btn-red{
    background-color: #E93A3F;
}

.btn-gold{
    border: solid 0.2rem;
    color: #787878;
}

.btn-gold:hover {
    color: #eeb66a;
    transition: 0.5s;
}

.grid-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.grid-date{
    flex-basis: 50%;
}

.line {
    content: '';
    display: inline-block;
    margin: 1rem;
    width: 35rem;
    height: .2rem;
    background: #787878;
}

.watermark {
    background-image: url(../img/logo3.png);
    background-repeat: no-repeat;
    background-position: center 70%;
    background-size: 50vw;
}

/*  HEADER  */

.site-header {
    background-color: #ffffff;
    color: #1e1e1e;
}

.navbar{
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    flex-basis: 25%;
}

.logo-img {
    max-width: 4.5rem;
}

.nav{
    flex-basis: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a{
    margin-right: .5rem;
}

.nav-tel{
    max-width: 20rem;
}

/* SECTIONS */

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features p{
    line-height: 0;
}

.features-30 {
    flex-basis: 30%;
}

.features-70 {
    flex-basis: 70%;
}

.features-40 {
    flex-basis: 40%;
}

.features-60 {
    flex-basis: 60%;
}

.more {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.icon-plus{
    font-size: 3.5rem;
    margin-right: 1rem;
}

/*  SECTION BACKGROUND COLOR WHITE  */

.column-3 {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column {
    flex-basis: calc(33.3% - 8rem);
}

.column img{
    height: 50vh;
}

.row {
    height: 15vh;
}

/*  BANNER  */

.banner {
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER SITE  */

.footer-site {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-side{
    flex-basis: 10%;
}

.footer-center {
    flex-basis: calc(80% - 10rem);
    display: flex;
    justify-content: space-evenly;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}